// $bg_color: #111111;
$bg_color: #1d1d1d;
:root {
  --cursor-color: rgb(0, 0, 0);
  --cursor-bg-color: rgba(0, 0, 0, 0.544);
  --main_color: rgb(51, 125, 195);
  --second_color: rgb(211, 217, 127);

  --error_color: #a74134;
  --true_color: #5ccf77;

  // --bg_color: #262626;
  --bg_color: #1d1d1d;
  --dark_bg_color: #0b2c2a;
  // --bg_color: #171c1d;

  // --text_light: #000;
  --text_light: #ffffff;
  --text_dark: #8b8b8b;
  --code-color: #4f4f4f;

  // --code-color: #8d8d8d;
}
